@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
  margin: 0;
}

.main {
  padding: 10px;
}

.content {
  width: 60%;
  padding: 0 20px;
  margin: 0 auto;
}

blockquote {
  font-size: 13px;
}

img[alt='intro'],
img[alt='Facebook'] {
  width: 300px;
  height: 100px;
}

img[alt='farmersIntro'] {
  width: 700px;
  height: 400px;
}

img[alt='ExecutionModel'] {
  width: 700px;
  height: 700px;
}

pre {
  width: 700px;
}
